.btn-default {
  width: 6em;
  border: 2px solid green;
  background: #ffe;
  border-radius: 5px;
}
a {
  display: block;
  width: 100%;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  color: red;
  background: #eff;
}

#map {
    height: 90%;
    width: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90%;
  left:20%;
  right: 20%;
  margin: 0;
  padding: 0;
  align-content: center;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


#search-input {
 background-color: #fff;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 300;
 /*margin-left: 15px;*/
 margin-top: 10px;
 padding: 0 20px 0 13px;
 text-overflow: ellipsis;
 width: 40%;
 height: 3%;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 20%;
  top: 30%;
  margin-top: -195px;
  height: 40%;
  width: 20%;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}
h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 100%;
  overflow-y: scroll;
}
li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li:nth-child(odd) {
  background-color: #fcfcfc;
}
#more {
  width: 100%;
  margin: 5px 0 0 0;
  height: 2%;
}
